<h1>{{ question.question_text }}</h1>
</div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="container-fluid">

{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
    <input type="button" name="remove" value="Remove"/><br>
{% endfor %}
</div>
<form action="{% url 'polls:add_choice' question.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Add">
</form>
<form action="{% url'polls:index' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Done">
</form>