{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
 <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<div class="container-fluid">
<div class="container-fluid">
<h1>{{ question.question_text }}</h1>
</div>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if question.choice_set.all %}
<div class="container-fluid">
     <div style="float: left; margin-right: 5px">
     <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
        <input type="submit" value="Vote">
     </form>
     </div>
 <div style="margin-left: 10px;">
 {% for choice in question.choice_set.all %}
     <form action="{% url 'polls:remove_choice' choice.id %}" style="margin: 1px" method="post">
                {% csrf_token %}
                <input type="submit" name="remove" value="Remove" style="height: 31px"/>
     </form>
 {% endfor %}
 </div>
 </div>
 <br><br>
 {% endif %}
 <div class="container-fluid">
     <form action="{% url 'polls:add_choice' question_id=question.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="new_choice" id="choice_text" value="{{choice_text}}"><br>
        <input type="submit" value="Add Choice"/>
     </form>
 </div>
</div>